streamlit
streamlit_option_menu
streamlit_extras
pyYAML
yfinance
tensorflow
scikit-learn
numpy
pandas
matplotlib
seaborn
streamlit_authenticator
anthropic
streamlit_lottie
plotly
requests
pylivecoinwatch
