streamlit
streamlit_option_menu
streamlit_extras
pyYAML
yfinance==0.2.38
tensorflow==2.16.1
scikit-learn
numpy
pandas
matplotlib
seaborn
streamlit_authenticator
anthropic
streamlit_lottie
plotly
requests
pylivecoinwatch
urllib
